main {
    margin: 0px 3px 3px 3px;
    border: 3px solid #1d2e52;
    background-color: #78b1d8;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Box {
    width: 150px;
    height: 150px;
    border: 3px solid #1d2e52;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

.TT {
    color: #1d2e52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 5px 0px 20px 0px;
}

.BT {
    color: #1d2e52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    margin: 0px 0px 5px 0px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.fun {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    height: 20px;
}