article {
    margin: 0px 3px 3px 3px;
    border: 3px 3px 0px 3px solid #1d2e52;
    background-color: #78b1d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: xx-large;
    color: white;
    transition: background-color 0.3s ease;
}
p:hover {
    background-color: #1d2e52;
}

div {
    margin: 3px;
}